body {
    color: white;
}

#bienvenue {
    height: calc(100vh - 110px);
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    img {
        width: 15%;
        border-radius: 50%;
    }
}

header {
    background: rgb(2, 8, 70);
    position: sticky;
    top: 0;
    z-index: 100;
    a {
        font-size: 1.75em;
    }
}

#reseaux {
    background: rgb(2, 8, 70);
    padding: 0 15px;
    height: 3rem;
}

#mesRealisations {
    h1 {
        color: black;
        margin-bottom: 60px;
    }
}

.projet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    figure {
        width: 500px;
    }
    p,
    a {
        color: black;
    }
}

.a-figure {
    pointer-events: none;
}
.btn-a {
    background: rgb(42, 31, 129);
    color: silver !important;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

footer {
    background: rgb(2, 8, 70);
    margin-top: 20px;
    padding: 35px 0;
}

@media all and (max-width: 1200px) {
    .container {
        width: 800px;
        figure {
            width: 250px;
            height: 230px;
            img {
                width: 250px;
                height: 230px;
            }
        }

        .btn-a {
            width: 40%;
        }
    }
}

@media all and (max-width: 950px) {
    .container {
        width: 600px;
    }

    #bien-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            width: 100%;
            text-align: center;
            margin: 15px 0;
        }

        p {
            width: 100%;
            text-align: center;
        }
    }

    #portfolio {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 300px;
    }

    header {
        font-size: small;
    }

    #portfolio {
        h1 {
            display: none;
        }

        img {
            margin-top: 150px;
        }
    }
    #bien-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            width: 100%;
            text-align: center;
            margin: 15px 0;
        }

        p {
            width: 100%;
            text-align: center;
        }
    }

    #portfolio {
        display: flex;
        flex-direction: column;
        h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }

        img {
            width: 50%;
        }
    }

    .projet {
        display: flex;
        flex-direction: column;

        .project-text {
            display: none;
        }
    }

    .a-figure {
        display: flex;
        justify-content: center;
        pointer-events: auto;
    }
}
