body {
    color: white;
}

#bienvenue {
    height: calc(100vh - 110px);
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    img {
        width: 15%;
        border-radius: 50%;
    }
}

header {
    background: rgb(2, 8, 70);
    position: sticky;
    top: 0;
    z-index: 100;
    a {
        font-size: 1.75em;
    }
}

#reseaux {
    background: rgb(2, 8, 70);
    padding: 0 15px;
    height: 3rem;
}

#mesRealisations {
    h1 {
        color: black;
        margin-bottom: 60px;
    }
}

.projet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    figure {
        width: 500px;
    }
    p,
    a {
        color: black;
    }
}

.btn-a {
    background: rgb(42, 31, 129);
    color: silver !important;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

footer {
    background: rgb(2, 8, 70);
    margin-top: 20px;
    padding: 35px 0;
}
