body {
    color: white;
}

#bienvenue {
    height: calc(100vh - 110px);
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    img {
        width: 15%;
        border-radius: 50%;
    }
}

header {
    background: rgb(2, 8, 70);
    position: sticky;
    top: 0;
    z-index: 100;
    a {
        font-size: 1.75em;
    }
}

#reseaux {
    background: rgb(2, 8, 70);
    padding: 0 15px;
    height: 3rem;
}

#mesRealisations {
    h1 {
        color: black;
    }
}